<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyJ2eeProj</display-name>
  <context-param>
    <param-name>urnm</param-name>
    <param-value>Shiva</param-value>
  </context-param>
  <context-param>
    <param-name>pswd</param-name>
    <param-value>Shiva</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.mph.mypack.FirstServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>Priya</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Priya</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LCServlet</display-name>
    <servlet-name>LCServlet</servlet-name>
    <servlet-class>com.mph.mypack.LCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LCServlet</servlet-name>
    <url-pattern>/LCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.mph.mypack.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.mph.mypack.MyFilter</filter-class>
    <init-param>
      <param-name>fun</param-name>
      <param-value>sai</param-value>
    </init-param>
    <init-param>
      <param-name>fpw</param-name>
      <param-value>sai</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/MyFilter</url-pattern>
    <servlet-name>FirstServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Serv1</display-name>
    <servlet-name>Serv1</servlet-name>
    <servlet-class>com.mph.sess.Serv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv1</servlet-name>
    <url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv2</display-name>
    <servlet-name>Serv2</servlet-name>
    <servlet-class>com.mph.sess.Serv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv2</servlet-name>
    <url-pattern>/Serv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv3</display-name>
    <servlet-name>Serv3</servlet-name>
    <servlet-class>com.mph.sess.Serv3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv3</servlet-name>
    <url-pattern>/Serv3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv4</display-name>
    <servlet-name>Serv4</servlet-name>
    <servlet-class>com.mph.sess.Serv4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv4</servlet-name>
    <url-pattern>/Serv4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieClass</display-name>
    <servlet-name>CookieClass</servlet-name>
    <servlet-class>com.mph.sess.CookieClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieClass</servlet-name>
    <url-pattern>/CookieClass</url-pattern>
  </servlet-mapping>
</web-app>